
body {
	font-family: sans-serif;
	font-size: 1.2em;
	color: rgb(64, 64, 64);
	margin: 5%;
	background-color: rgb(240, 240, 240);
}

h1 {
	font-size: 1.3em;
	font-weight: bold;
}

a {
	color: rgb(16, 16, 16);
}


#left-div {
	/*
	width: 40%;
	float: left;
	*/
	padding: 2%;
	border-radius: 10pt;
	box-shadow: 0px 0px 1em 0em #444444;
	background-color: rgb(230, 230, 200);
}
/*
#right-div {
	width: 50%;
	float: right;
}
*/

@media (min-width:40em) {
	#left-div {
		width: 35%;
		float: left;
	}
	#right-div {
		width: 55%;
		float: right;
	}
}